
.close {
    padding:10px;
    background:black;
    color: yellow;
    transition: ease;
}

.close:hover {
    font-weight: bold;
    /* transform: scale(1.25); */
}

.clickable {
    cursor: pointer;
    user-select: none;
}

/* .nav-icon {
    font-size: 24px;
} */

.search-icon {
    font-size: 16px;
}

.page-like {
    padding: 5px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(41, 41, 41);
    border-radius: 15px;
}

.like-icon {
    color: crimson;
    font-size: 24px;
}

.page-like-count {
    color: rgba(255, 255, 0, 0.555);
    font-size: 20px;
}

.like-change {
    padding: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}

.like-change:hover {
    color: yellow;
}


.image-like {
    padding: 5px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
    border-radius: 15px;
}


.imgInfoBox {
    background: yellow;
    color: black;
    padding: 5px;
    position: absolute;
    z-index: 1000;
}

img.new-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.8;
}

.new-icon:hover {
    opacity: 1;
}





/* 
.main-view img{
    transition: 1.6s ease;
} */